{% extends 'back/master.html' %}
{% load static%}

{% block mainblock %}
                    <!-- Page content -->
                    <div id="page-content">
                        <!-- Datatables Header -->
                        <div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i>Newsletter<br><small></small>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>List</li>
                            <li><a href="/panel/newsletter/email">Emails</a></li>
                        </ul>
                        <!-- END Datatables Header -->

                        <!-- Datatables Content -->
                        <div class="block full">
                            <div class="block-title">
                                
                                <div class="form-group">
                                    <a href="{% url 'export_newsletter_csv' %}" data-toggle="tooltip" title="Export CSV file" class="btn btn-xs btn-default">CSV</a>
                                </div>
                                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th>Emails</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cc in em %}
                                        <tr>
                                            <td class="text-center">{{cc.pk}}</td>
                                            <td>{{cc.txt}}</td>
                                 
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <a href="{%url 'newsletter_del' pk=cc.pk status=1 %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>
                                                </div>
                                            </td>

                                       {% endfor %}
                                      

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END Datatables Content -->
                    </div>
                    <!-- END Page Content -->
{% endblock %}

{% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{%static 'back/js/pages/tablesDatatables.js'%}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}